/*all styles in here, except whatever has to be inline.*/


body {
    background-color: #FFF;
    text-align: center;
    min-width:800px;
    min-height: 600px;
    font-family: "Times New Roman";
}

/* HEADER STYLING BEGINS HERE */
.nav-center {
   margin:auto;
   text-align: center;
   margin-bottom: 20px;
}

.nav-content {
    margin:auto;
    text-align: center;
    font-family: "Times New Roman";
    line-height: 1.5em;
}

.nav-content h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #433C3C;
    margin-bottom: 5px;
}

.nav-content a {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: rgba(67, 60, 60, 0.9);
    transition: all .3s ease-in-out;
}

.nav-content a:hover {
    color: rgba(67, 60, 60, 0.7);
    text-decoration: none;
}

/* HEADER STYLING END HERE */


.container {
    width: 100%;
    padding: 200px 5% 0 5%;
}



/*section*/
.section {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    justify-content: center;
    text-align: center;
    margin: 6rem auto ;
}

.card{
    display: inline-block;
    place-self: center;
    font-family: "Times New Roman";
    width: 280px;
    height: 350px;
    padding: 10px;
    margin: 0 20px 100px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #FCFAF8;
    border-bottom: 10px solid #ff8c00;
    transition: all .3s ease-in-out 0s;
}

.card1{
    display: inline-block;
    font-family: "Times New Roman";
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    background-color: #FCFAF8;
    transition: all .3s ease-in-out 0s;
}

.card:hover{
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, .08);
}

.img{
    width: 100%;
}

.info{
    margin-top: 15px;
    margin-bottom: 30px;
}

.info h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #433C3C;
}

.info p{
    font-size: 16px;
    line-height: 19px;
    margin-top: 5px;
    color: rgba(67, 60, 60, 0.7);
}

.social{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.social a{
    margin: 10px;
}

.social img:hover{
    background-color: #1d1102;
}

/*MEDIA QUERIES*/
@media (max-width: 767px) {
    .footer {
        background-image: url("assets/footer-bg-mobile.png");
        background-size: cover;
        padding: 20px;
    }

    .container {
        padding: 100px 10% 0 10%;
    }

    .card {
        margin-bottom: 75px;
    }

}

@media (min-width: 1025px) {
    .section {
         grid-template-columns: repeat(3, minmax(250px, 400px));
         max-width: 1024px;
    }
}

.call-out-green{
    margin: 20px 0px;
    color: #ffffff;
    padding: 13px 20px;
    line-height: 1.4em;
}

.divcss{
    border:1px solid #000;
    margin: 5px;
}

.ziti{
    font-size:18px;
    font-weight: bold;
}
